.image-input {
    overflow: hidden;
    resize: both;
    border-style: none;
}
input[type=file] {
    opacity: 0;
    border-style: dashed;
    cursor: pointer;
}
.preview-label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.preview {
    width: 90%;
    height: 90%;   
    border-style: dashed; 
}